.aboutUs {
  display: flex;
  overflow: hidden;
  width: 100%;

  .aboutText {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $fifthColor;
    background-color: $firstColor;

    h2 {
      letter-spacing: -0.76px;
      color: $fourthColor;
      font-family: $font-base;
      font-size: 1.875rem;
      margin-bottom: 2rem;
    }

    p{
      letter-spacing: -0.6px;
      color: $fourthColor;
      font-family: $font-base;
      font-size: 1.875rem;
      text-align: center;
      width: 70%;
      line-height: 3.375rem;
      margin: 2rem 0;
    }

    .signImage {
      width: 70%;
      text-align: right;
    }
  }

  .aboutImage {
    width: 50%;
    background-size: cover;
    background-position: center;
  }
}