@import '../../node_modules/normalize-scss';
@import "settings/_colors";
@import "settings/_fonts";
//@import "settings/reset";
@import "components/_header";
@import "components/_threeColumns";
@import "components/_fourSteps";
@import "components/_aboutUs";
@import "components/_contactUs";
@import "components/_whoWeHelp";


body {
  font-family: $font-base;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  width: 1900px;
}

